option-fontsize {
    .toolbar-background {
      background-color: red;
    }

    .fontsize-heavy{
      font-size:45px;
    }

    .fontsize-medium{
      font-size:35px;
    }

    .fontsize-tiny{
      font-size:25px;
    }
  }

  