<!--................HEADER START...............-->
<ion-header>
  <ion-navbar>
    <div ion-row justify-content-between>
      <ion-title text-center>
        {{ items.Activities_id }}
      </ion-title>
    </div>
  </ion-navbar>
</ion-header>
<!--...............HEADER END..................-->
<!--...............CONTENT.....................-->
<ion-content padding-top text-center>
<!--<div text-center>-->
  <div id="panel" *ngFor="let items of items"><b>{{ items.title }}</b>
    <p *ngIf="items">Cet événement aura lieu le {{ items.date }} et commencera à {{ items.start_event }} pour finir à {{ items.end_event }}</p>
    <p *ngIf="items">Adresse de l'événement : {{ items.localisation }}</p>
    <p *ngIf="items"> Les participants :</p>
    <ul>
      <li></li>
    </ul>
  </div>
  <div id="panel_error">L'événement n'a pas de données suffisantes ou n'a pas encore été créer.</div>
  <button *ngIf="!hide" (tap)="modifyEvent()" id="modification" ion-button color="dark">Modifier l'événement</button>
  <button *ngIf="!hide" (tap)="cancelEvent()" id="annulation" ion-button color="danger" >Annuler l'événement</button>
<!--</div>-->
</ion-content>
<!--...............END-CONTENT.....................-->
<!--..................FOOTER........................-->
<ion-footer>
</ion-footer>
