<!--................HEADER START...............-->
<ion-header>
  <ion-navbar>
    <div ion-row center>
      <ion-title text-center>
        Calendrier
      </ion-title>
    </div>
  </ion-navbar>
</ion-header>
<!--...............HEADER END..................-->
<!--...............CONTENT.....................-->
<ion-content padding-top>
  <h2 text-center>Nom de la section</h2>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (tap)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (tap)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Dim</ion-col>
        <ion-col>Lun</ion-col>
        <ion-col>Mar</ion-col>
        <ion-col>Mer</ion-col>
        <ion-col>Jeu</ion-col>
        <ion-col>Ven</ion-col>
        <ion-col>Sam</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth">
          <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
          <ng-template #otherDate class="otherDate">{{day}}</ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month">{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<!--..................FOOTER........................-->
<ion-footer>
</ion-footer>
